

/* Blog Listing Grid */
.blogListing {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;                              
    padding: 2rem;
    min-width: 300px;                          
  }
  
  /* Responsive Breakpoints */

  @media (max-width: 1199px) {
    .blogListing {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .blogListing {
      grid-template-columns: repeat(1, 1fr);
      padding: 15px;
    }
    .postTitle {
        font-size: 20px;
        line-height: 1.2;
      }
      .postSummary {
        font-size: 14px;
      }
      .postDate {
        font-size: 12px;
      }
  }
  